.vscode
**/build
.clang-format
*.old
components/esp32_BNO08x/*
components/un-used/esp32_BNO08x-no_hal/*
.idea
**/.cache
compile_commands.json
.clangd
gen_compile_commands.py
**/__pycache__
**/build**
